*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe ui', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e0e0e0;
}
.container {
    background: #e0e0e0;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
    width: 320px;
    text-align: center;
}
.logo {
    font-family: "pacifico", cursive;
    font-size: 36px;
    margin-bottom: 30px;
}
input{
    width: 100%;
    margin: 10px 0;
    padding: 12px 15px;
    border: none;
    border-radius: 12px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
    font-size: 14px;
}
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #e0e0e0;
    box-shadow: 6px 6px 10px #bebebe, -6px -6px 10px #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}
.btn:hover {
    background: rgb(82, 150, 133);
    color: #fff; 
}
.btn.facebook-btn:hover {
    background: #3b5998;
    color: #fff;
    i {
        color: #fff;
    }
}
.divider{
    margin: 20px 0;
    color: #999;
    font-size: 14px;
}
.facebook-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.facebook-btn i {
    color: #3b5998;
    font-size: 18px;
}
.google-btn i {
    color: #db4437;
    font-size: 18px;
}
.google-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.login-link {
    margin-top: 20px;
    font-size: 13px;
    color: #555;
}
.login-link a{
    color: #6c75ee;
    text-decoration: none;
    font-weight: bold;
}
.login-link a:hover {
    text-decoration: underline;
    background-color: #0a0a0a;
    color: #fff;
}